<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  </head>
  <body>
    <h1>Simple Chat Bot</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm {{ botName }}</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Enter Message here">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script src="/static/js/main.js"></script>
    </div>
  </body>
</html>
